*.S
*.a
*.cmd
*.csv
*.d
*.d.*
*.exe
*.gcda
*.gcno
*.gprof
*.i
*.json
*.ko
*.log
*.mod.c
*.o
*.order
*.out
*.pyc
*.raw
*.s
*.symvers
*.ur-safe
*\#
*~
.\#*
.build
.tmp
.tmp_versions
STDERR
STDERR.txt
STDOUT
STDOUT.txt
\#*
__pycache__
build
com
core
exception
out.png
*.txt
*.hdf5
*.meta
*.tags
*.stats
.cwd_history
.ipynb_checkpoints
.fiddle_backups
*.png
*.dot
